{% extends 'pages/basic/basic.html'%}

{% block content %}

<section>
  <div class="card-container">
    {% for i in subjects %}
    
    <div class="card mb-3">
      <a href="{{ homepage }}{{request.path}}{{ forloop.counter }}">
        <div class="card-body">
          <img src="/media/{{i.Subject_image}}" class="card-img-top" alt="SubjectLogo">
          <h5 class="card-title">{{ i.name }}</h5>
          <p class="card-text">{{ i.title }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}

{% comment %} 

{'subject': <Subjects: UnlockTool>, 'videos': <QuerySet [<Video: Video 1>, <Video: video 2>, <Video: video 3>, <Video: viddoe 4>]>} 
  
{% endcomment %}