{% extends 'pages/basic/basic.html' %}
{% block content %}

    <div class="container">
        <h1 class="text-center my-4">Start Today for better Tommrow</h1>
        <div class="row">
            <div class="col-md-6">
                <!-- Course image -->
                <img src='/media/{{ClassDetaildata.class_image}}' alt="Course image" class="img-fluid" width="500" height="600">
            </div>
            <div class="col-md-6">
                <!-- Course title -->
                <h2>{{ClassDetaildata.title}}</h2>
                <!-- Course description -->
                <p>{{ClassDetaildata.description}}</p>
                <!-- Course price -->
                
                <!-- Course rating -->
                <h4>Rating: 4.5/5</h4>
                <!-- Course enroll button -->
                <a href='{{request.path}}subjects' class="btn btn-primary">View now</a>
            </div>
        </div>
    </div>






{% endblock %}
