{% extends 'pages/basic/basic.html'%}

{% block content%}

<section>
  <div class="card-container">
    {% for i in ClassListData %}
      <a href="{{i.pk}}" style="color: red; text-decoration: none;">
        <div class="card">
          <div class="card-details">
            <p class="text-title">{{i}}</p>
            <p class="text-body">{{i.subject_description}}</p>
          </div>
          <button class="card-button">{{i}}</button>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

{% endblock%}